<!DOCTYPE html>
<html lang="de">
{% include 'head.html' %}
<body>
    {% include 'navbar.html' %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div>
          {% block content %}
          {% endblock %}
    </div>
</body>
<script src="4-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>